.contenido {
    max-width: 900px;       
    margin: 40px auto;      
    padding: 20px;          
}
.cursiva {
    font-style: italic;
    font-size: 40px;
    color: #145;
}
.negrita{
    font-weight: bold;
    font-size: 48px;
    color: darkgoldenrod;
}
body{
    background-color: wheat ;
}
h1{
    color:red;
    font-size: 45px ;
}
h2{
color: darkgreen;
font-size: 35PX;
}
h3{
color: blueviolet;
font-size: 30px;
}
h4{
color: darkorchid;
font-size: 25px;
}
h5{
    color:firebrick;
    font-size:20px;
}
h6{
    color: cornflowerblue;
    font-size:20px;
}
table{
    width: 100% ;
border-collapse:collapse ;
}
th {
  background-color: #458;
  color: darkslategray;
}

td {
  padding: 8px;
  text-align: center;
}

table, th, td {
  border: 10px solid whitesmoke;
}
